body {
	background: #092B40;
	
}

#results {}


.list {
	
}

.individualResult {
	background: white;
	padding:10px;
}

.individualResult h1 {
	font-size: 1.5em;
	margin:10px;
}

.individualResult p {}

.individualResult a {}