body {
    background: #092B40;
    font-family: 'Josefin Slab', serif;
}

#results {
    clear: both;
}

.list {}

.individualResult {
    background: white;
    padding: 10px;
}

.individualResult h1 {
    font-size: 1.5em;
    margin: 10px;
}

.individualResult p {
    margin: 20px;
    text-align: justify;
}

.individualResult a {
    color: black;
    margin: 20px;
}
